body {
  padding-top: 100px;
}
.burger__part {
  position: relative;
}
.burger__layer {
  width: 200px;
  height: 80px;
  margin: 0 auto -65px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.burger__layer.__top {
  margin-bottom: -35px;
  z-index: 10;
}
.burger__layer.__bottom {
  z-index: 10;
}
.menu__image {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.menu {
  margin-top: 150px;
}
.menu__item {
  margin-bottom: 80px;
}
